In [2]:
import pandas as pd

In [3]:
import_path = '/Users/graeme/code/calliope_examples/model_3/timeseries_data/'

In [7]:
raw_data = pd.read_csv(import_path+'regional_wind_cfs_2023.csv', index_col=0, parse_dates=True)
raw_data

,S6,T1,T2,T3,T4,T5,S5
2023-01-01 00:00:00,0.233731,0.209607,0.175155,0.456169,0.203343,0.108253,0.233731
2023-01-01 01:00:00,0.157248,0.210333,0.201219,0.336209,0.195284,0.132288,0.157248
2023-01-01 02:00:00,0.104327,0.177675,0.196693,0.272170,0.176674,0.178770,0.104327
2023-01-01 03:00:00,0.092369,0.070337,0.174172,0.222188,0.179657,0.210533,0.092369
2023-01-01 04:00:00,0.036415,0.039663,0.183573,0.136201,0.125605,0.213367,0.036415
...,...,...,...,...,...,...,...
2023-12-31 19:00:00,0.014130,0.006892,0.019161,0.030562,0.015292,0.010175,0.014130
2023-12-31 20:00:00,0.009474,0.009782,0.020580,0.013982,0.023355,0.006913,0.009474
2023-12-31 21:00:00,0.011450,0.007928,0.019657,0.003524,0.021747,0.006677,0.011450
2023-12-31 22:00:00,0.016521,0.014439,0.019218,0.003977,0.008382,0.007355,0.016521
2023-12-31 23:00:00,0.021724,0.024606,0.017024,0.065903,0.008781,0.005430,0.021724

In [11]:
raw_data[['T1','S6']].rename(columns={'T1':'region1', 'S6':'region2'}).to_csv(import_path+'regional_wind.csv', index_label='', date_format='%Y-%m-%d %H:%M')